.show_idBTN {
    cursor: pointer;
    background: #f0f2f5 !important;
    color: #5181b8 !important;
    font-size: 14px;
    font-weight: 400;
    width: max-content;
    padding: 5px;
    margin: 5px 0;
    -webkit-user-select: none !important;
    user-select: none !important;
}
.show_idBTN:hover {
    background: rgba(174, 183, 194, 0.12) !important;
}
.show_idBTN.dark {
    background: #444446 !important;
    color: #999 !important;
}
.show_idBTN.clicked {
    pointer-events: none !important; 
    user-select: all !important; 
    -webkit-user-select: all !important;
}