.show_idBTN {
    cursor: pointer;
    background: #f0f2f5 !important;
    color: #5181b8 !important;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 400;
    width: max-content;
    padding: 5px;
    margin: 5px 0;
    -webkit-user-select: none !important;
    user-select: none !important;
}
.show_idBTN.dark {
    background: var(--isDark_bg) !important;
    color: var(--isDark_color) !important;
}
.show_idBTN.clicked {
    pointer-events: none !important; 
    user-select: all !important; 
    -webkit-user-select: all !important;
}